{% extends "rentals/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold mb-3">Our Cars</h2>
    <div class="row">
        {% for car in cars %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ car.image_url }}" class="card-img-top">
                <div class="card-body">
                    <h5>{{ car.name }}</h5>
                    <p>PKR {{ car.price }}/day</p>
                    <a href="/cars/{{ car.id }}/" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No cars available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
